<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<style>

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#preview > div {
    text-align: center;
    color: green;
    font-family: sans-serif;
}

</style>

</head>
<body>

  <h1>Demo Gauge</h1>

  <div id="preview" style="width: 100%; height: 95vh;">
    <div id="gauge" style="width: 100%; height: 75%;"></div>
    <div id="device-id" style="font-size: 2em;"></div>
  </div>

<script src="/justgage/raphael-2.1.4.min.js"></script>
<script src="/justgage/justgage.js"></script>
<script src="/jquery/jquery.min.js"></script>

<script>

    var gauge = new JustGage({
        id: "gauge",
        value: 0,
        min: 0,
        max: 5000
    });

    function refreshGauge()
    {
        $(function() {
            $.getJSON(
            "/power_consumption",
            function(json){ 
                // console.log(json)
                gauge.refresh(json.value);
                $("#device-id").text(json.deviceId);
            });
        });
    }
    setInterval( refreshGauge, 1000 );

</script>
</body>
</html>